
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),  );">
  <div class="container">
    <h1>Big dungeon <strong></strong>  <strong></strong></h1>
    <p>located in the hidden landscapes of scotland</p>
    <a class="btn btn-flat" href="#">Book now</a>
  </div>
</div>




<%= link_to "booking", new_dungeon_booking_path(@dungeon), class: "btn-btn-flat" %>
