<head>
 <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

</head>


<body id= "dungeonbooking">
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),  );">
  <div class="container">
    <h1>Big dungeon <strong></strong>  <strong></strong></h1>
    <p>located in the hidden landscapes of scotland </p>
    <p>amenities listed below</p>
    <%= link_to "Book now", new_dungeon_booking_path(@dungeon), id: "btn" %>
  </div>
</div>
  <div id="medieval">


  <ol id="list">
  <li>Torture chamber included<i class="fa-solid fa-skull-crossbones"></i></li>
  <li> Dragon included  <i class="fa-solid fa-dragon"></i></li>
  <li> local gremlins  <i class="fa-brands fa-optin-monster"></i></li>
  <li>catecomb located underground  <i class="fa-solid fa-dungeon"></i></li>
  </ol>
  </div>

  <footer class= "footer">
          <a href="https://www.facebook.com/tolu.hastrup/" target="_blank"> <i class="fab fa-facebook-f"></i>  Facebook <a href="https://twitter.com/home" target="_blank"> <i class="fab fa-twitter"></i>  Twitter
         </a> <p id="copyright"> AirDnD <i class="fa-solid fa-copyright"></i></p>
  </footer>
